* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /*
   font-family: 'Roboto', sans-serif;
    * */
   font-family: 'Bungee', sans-serif, monospace;
}

html {
   height: 100%;
   background: linear-gradient(#222, #555);
}

body {
   height: 100%;
}

a, a:visited {
   color: #800080;
}

a:hover {
   text-shadow: 0px 0px 5px yellow;
}

.wrapper {
   height: 100%;
}

.title-wrapper {
   text-align: center;
   color: #3d3d3d;
   font-size: 36px;
   text-shadow: 0px 0px 5px white;
   padding-bottom: 5px;
}

.title-wrapper p {
   display: inline-block;
   padding: 0 10px;
}

#calculator {
   margin: 0px auto 0px auto;
   width: 90%;
   max-width: 500px;
   height: 70%;
   background-color: darkorange;
   border: 5px solid gray;
   border-radius: 15px;
}

#viewport {
   width: 90%;
   margin: auto;
   padding: 10px 5px;
   min-height: 100px;
}

#viewport p {
   background-color: #222;
   padding: 4px 10px; 
   text-align: right;
   font-size: 30px;
   color: limegreen;
   min-height: 50px;
}

#val2 {
   border-bottom: 1px solid white;
}

.buttons {
   padding: 5px 5px;
   background-color: darkorange;
   height: inherit;
   display: block;
}

.button {
   float: left;
   height: 20%;
   vertical-align: middle;
   padding: 5px;
   text-align: center;
   border: 3px solid darkorange;
   white-space: nowrap;
   background-color: #222;
}

.button:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
   margin-right: -0.05em; /* Adjusts for spacing */
}

.btn-1x1 {
   width: 25%;
   vertical-align: middle;
}

.btn-2x1 {
   width: 50%;
}

.btn-txt {
   color: #CCC;
   text-align: center;
   margin: 5px;
   display: inline-block;
   vertical-align: middle;
   width: 95%;
   font-size: 20px;
}


